.app{
  background-color: black;
  display: flex;
  height: 100%;
}

@media (max-width: 1000px){
  .app{
      flex-direction: column;
      -webkit-flex-direction: column;
  }
}

@media (max-width: 500px){
  .app{
      overflow-x: hidden;
  }
}